In [21]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import datetime

In [22]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
297,tt0929632,10000000,63647833,Precious,Gabourey Sidibe|Mo'Nique|Paula Patton|Mariah C...,Lee Daniels,Life is hard. Life is short. Life is painful. ...,"Set in Harlem in 1987, claireece ""Precious"" Jo...",110,Drama,Smokewood Entertainment Group,11/6/2009,6.8,2009

In [0]:
data.describe()

# Предобработка

In [23]:
answers = {} # создадим словарь для ответов

In [24]:
# создадим колонку с прибылью
data['profit']=data['revenue']-data['budget']

In [25]:

#создадим колонку с убытками
data['loss']=data['budget']-data['revenue']

In [26]:
#создадим колонку с длинной названий фильмов
data['long_name']=data.original_title.map(lambda x: len(x))

In [113]:
#создадим колонку с длинной описания фильмов
data['overview_size']=data.overview.map(lambda x: len(x))

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [105]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1']='2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1']='Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [28]:
# тут пишем ваш код для решения данного вопроса:
import pandas as pd
data=pd.read_csv('movie_bd_v5.csv')
expencive=data.sort_values('budget', ascending=False)
display(expencive.head(1))

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [29]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [30]:
import pandas as pd
data=pd.read_csv('movie_bd_v5.csv')
expencive=data.sort_values('runtime', ascending=False)
display(expencive.head(1))

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

# 3. Какой из фильмов самый короткий (в минутах)?

In [32]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

In [33]:
import pandas as pd
data=pd.read_csv('movie_bd_v5.csv')
expencive=data.sort_values('runtime', ascending=True)
display(expencive.head(1))

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

# 4. Какова средняя длительность фильмов?

In [34]:
answers['4'] = '110'

In [35]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [36]:
answers['5'] = '107.0'

In [37]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [38]:
answers['6'] = 'Avatar'

In [39]:
data['profit']=data['revenue']-data['budget']
expencive=data.sort_values('profit', ascending=False)
display(expencive.head(1))

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [40]:
answers['7'] = 'The Lone Ranger'

In [41]:
expencive=data.sort_values('profit', ascending=True)
display(expencive.head(1))

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [42]:
answers['8'] = '1478'

In [43]:
count=data[data.revenue>data.budget]
len(count)

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [44]:
answers['9'] = 'The Dark Knight'

In [45]:
film=data.query('release_year == 2008').sort_values('revenue', ascending=False)
film.head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [46]:
answers['10'] = 'The Lone Ranger'

In [47]:
data_new = data[data['release_year'].isin([2012, 2013, 2014])]
data_new[data_new['profit'] == data_new['profit'].min()]['original_title'].values[0]

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [48]:
answers['11'] = 'Drama'

In [106]:
import pandas as pd

data=pd.read_csv('movie_bd_v5.csv')

genre_max = Counter()
for x in data.genres.str.split('|'):
    genre_max += Counter(x)
genre_max.most_common(1)

[('Drama', 782)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [50]:
answers['12'] = 'Drama'

In [52]:
data['profit']=data['revenue']-data['budget']
data_max = data[data['profit'] > 0]
pd.Series((data_max.genres.str.split('|').sum())).value_counts().index[0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [53]:
answers['13'] = 'Peter Jackson'

In [54]:
data_grouped=data.groupby(['director'])['revenue'].sum().sort_values(ascending=False)
print(data_grouped.head(1))

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [55]:
answers['14'] = 'Robert Rodriguez'

In [56]:
action=data[data.genres.str.contains('Action')]
pd.Series((action.director.str.split('|').sum())).value_counts().index[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [57]:
answers['15'] = 'Chris Hemsworth'

In [58]:
df= data[data['release_year'].isin(['2012'])]
df['actor']=df['cast'].str.split('|')
actor_cut=df.explode('actor')
data_grp=actor_cut.groupby(['actor']).revenue.sum()
data_grp.sort_values(ascending =False).index[0]

<ipython-input-58-995212d25cf2>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['actor']=df['cast'].str.split('|')

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [59]:
answers['16'] = 'Matt Damon'

In [60]:
high=data[data.budget>data.budget.mean()]
pd.Series((high.cast.str.split('|').sum())).value_counts().index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [61]:
answers['17'] = 'Action'

In [62]:
nicolas=data[data.cast.str.contains('Nicolas Cage', na=False)]
pd.Series((nicolas.genres.str.split('|').sum())).value_counts().index[0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [63]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

In [64]:
paramount=data[data.production_companies.str.contains('Paramount Pictures', na=False)]
loss=paramount.sort_values('profit', ascending=True)
display(loss.head(1))

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [65]:
answers['19'] = '2015'

In [66]:
most=data.groupby(['release_year']).revenue.sum().sort_values(ascending=False)
most.index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [67]:
answers['20'] = '2014'

In [68]:
warner=data[data.production_companies.str.contains('Warner Bros', na=False)]
max_profit=warner.groupby(['release_year']).revenue.sum().sort_values(ascending=False)
max_profit.index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [69]:
answers['21'] = '09'

In [110]:
data_month = data.copy()
data_month['release_date'] = pd.to_datetime(data_month['release_date'], errors='coerce')
data_month['release_date'] = data_month['release_date'].dt.strftime('%m')
data_month1=data_month.groupby(
    ['release_date'])['original_title'].count().sort_values(ascending=False)
print(data_month1.index[0])

09

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [71]:
answers['22'] = '450'

In [72]:
df_filter = data_month['release_date'].isin(['06','07','08'])
data_month[df_filter]['original_title'].count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [73]:
answers['23'] = 'Peter Jackson'

In [74]:
data_month['release_date'].isin(['12','01','02'])
director=data_month.groupby(['director']).release_date.value_counts()
director.sort_values(ascending =False).index[0]

('Peter Jackson', '12')

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [75]:
answers['24'] = 'Four By Two Productions'

In [111]:
data['long_name']=data.original_title.map(lambda x: len(x))
longer_name=data.copy()
longer_name.production_companies=longer_name.production_companies.str.split('|')
longer_name=longer_name.explode('production_companies')
longer_name.groupby(
    ['production_companies'])['long_name'].mean().sort_values(ascending=False).index[0]

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [77]:
answers['25'] = 'Midnight Picture Show'

In [115]:
data['overview_size']=data.overview.map(lambda x: len(x))
longer_name=data.copy()
longer_name.production_companies=longer_name.production_companies.str.split('|')
longer_name=longer_name.explode('production_companies')
longer_name.groupby(
    ['production_companies'])['overview_size'].mean().sort_values(ascending=False).index[0]

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [86]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [116]:
data.loc[data['vote_average']>data.quantile(
    0.99, numeric_only=True)['vote_average']]['original_title']

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [88]:
answers['27'] = 'не смогла решить'

In [92]:
import itertools
list_comb = []
for actors in data.cast.str.split('|'):
    list_comb.append(actors)
list_cast=list(itertools.combinations(list_comb, 2))

ВАРИАНТ 2
Прошу показать возможный вариант решения

# Submission

In [89]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107.0',
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': '1478',
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': '09',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'не смогла решить'}

In [90]:
# и убедиться что ни чего не пропустил)
len(answers)

27